<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <% if ( !login ) { %>
                    <li><a href="/register">注册</a></li>
                    <li><a href="/login">登录</a></li>
                <% } %>
                <% if ( login ) { %>
                    <li><a href="/avatar">修改头像</a></li>
                    <li><a href="/logout">退出</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

